 <nav class="nav-main">
        <div class="region region-header-menu">
            <div id="block-system-main-menu" class="block block-system block-menu">
                <div class="content">
                    <ul class="nav nav-pills nav-main" id="mainMenu">
                        <li class="dropdown 218 active">
                            <a href="/index.html" class="dropdown-toggle disabled active">Home</a>
                        </li>
                        <li class="dropdown 1777">
                            <a href="/about-us" title="" class="dropdown-toggle disabled">About Us</a>
                        </li>
                        <li class="dropdown 346">
                            <a  ng-show="!userAuthenticated" href="#/login"  class="dropdown-toggle disabled">Login</a>
                            <a  ng-show="userAuthenticated" href="#" ng-click="logout();"  class="dropdown-toggle disabled">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>