<div>
	<hr />
	<a ng-model="collapsed" ng-click="collapsed=!collapsed">Search User
	</a>

	<div ng-show="collapsed">
		<div id="custom-search-input">
			<div class="input-group col-md-6">
				<input type="text" class="  search-query form-control"
					placeholder="Search" ng-model="searchText" /> <label><input
					type="radio" ng-model="search.searchBy" name="optradio" value="email">By Email</label> <label><input
					type="radio" ng-model="search.searchBy" name="optradio" value="name">By
					Name</label> <span class="input-group-btn">

					<button class="btn btn-danger" type="button"
						ng-click="fetchUser(searchText , search.searchBy)">
						<span class=" glyphicon glyphicon-search"></span>
					</button>

				</span>
			</div>

		</div>



		<div class="panel panel-primary" ng-show="searchedUser!=undefined && searchedUser.length>0">
			<div class="panel-heading">
				<h3 class="panel-title">Users</h3>
				<div class="pull-right">
					<span class="clickable filter" data-toggle="tooltip"
						title="Toggle table filter" data-container="body"> 
					</span>
				</div>
			</div>

			<table class="table table-hover" id="dev-table">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email ID</th>
						<th>Phone Number</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in searchedUser">
						
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td>{{user.emailId}}</td>
						<td>{{user.phone}}</td>
					</tr>

				</tbody>
			</table>
		</div>


	</div>
	<hr />

	<a ng-model="expandme" ng-click="expandme=true">Create New User </a>

	<div ng-show="expandme">

		<form class="form-horizontal" ng-controller="adminController"
			name="createAccountForm">
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">First
					Name</label>
				<div class="col-sm-4">
					<input class="form-control" ng-model="userForm.firstName"
						placeholder="First Name" required>
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">Last
					Name</label>
				<div class="col-sm-4">
					<input class="form-control" ng-model="userForm.lastName"
						placeholder="last Name">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-4">
					<input class="form-control" type="email" ng-model="userForm.emailId"
						required placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label">Phone No</label>
				<div class="col-sm-4">
					<input class="form-control" ng-model="userForm.phone" required
						placeholder="XXXXXXXXXX">
				</div>
			</div>
			<div class="form-group">
				<label for="role" class="col-sm-2 control-label">Role</label>
				<div class="col-sm-4">
					<select
						ng-options="role as role.code for role in roles track by role.roleId"
						ng-model="userForm.roleId" required>
						<option value="">-- Select Role --</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit"
						ng-click="createAccountForm.$valid &&  createAccount(userForm)"
						class="btn btn-success">Create Account</button>
				</div>
			</div>
		</form>

	</div>
	<hr />

	<!-- <a ng-model="collapseme" ng-click="collapseme=true">Click here to <strong>HIDE</strong>
		description
	</a>

	<div ng-hide="collapseme">I am description for the above title,
		which was collapsed by default</div>
	<hr />
	<label for="chklabl"><input type="checkbox" ng-model="checked"
		name="chklabl" id="chklabl"> Check this checkbox to show/hide
		this example is from AngularJS API Reference</label><br /> Show: <span
		ng-show="checked">I show up when your checkbox is checked.</span> <br />
	Hide: <span ng-hide="checked">I hide when your checkbox is
		checked.</span>
	<hr /> -->
</div>