<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>{{users}}
        <ul type="square">
            <li>Luke</li>
            <li>Darth</li>
            <li>Anakin</li>
            <li>Leia</li>
        </ul>
    </div>
</div>