<div class="wrapper">
    <form ng-submit="login()" name="Login_Form" class="form-signin">
        <h3 class="form-signin-heading">Welcome </h3>
        <hr class="colorgraph">
        <br>
        <input type="text" class="form-control" ng-model="user.emailId" name="Username" placeholder="Username"
               required="true" autofocus=""/>
        <input type="password" class="form-control" ng-model="user.password" name="Password" placeholder="Password"
               required="true"/>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>
    </form>
</div>
