<br>
<br>
<div class="container-fluid well span6">
	<div class="row-fluid">
		<div class="span2">
			<img src="../images/dummy-profile-pic.jpg" class="img-circle"
				height="150">
		</div>

		<div class="span8">
			<h3>Name : {{user.firstName}}</h3>
			<h6>Email: {{user.emailId}}</h6>
			<h6 >Registration Date: {{user.registrationDate | date}}</h6>
					

		</div>

		<div>
			Add Follow up Detail


			<form class="form-horizontal" ng-controller="usersController"
				name="saveFollowUpForm">
				<div class="form-group">
					<label for="followUpSummary" class="col-sm-2 control-label">Summary
					</label>
					<div class="col-sm-4">
						<input class="form-control"
							ng-model="UserFollowUp.summary" placeholder="Summary"
							required>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-4">
						<input class="form-control" ng-model="UserFollowUp.description"
							placeholder="Description" required>
					</div>
				</div>
				<div class="form-group">
					<label for="userID" class="col-sm-2 control-label">User Id
					</label>
					<div class="col-sm-4">

						<input type="text" class="form-control"
							ng-model="UserFollowUp.userID"
							ng-init="UserFollowUp.userID=user.userId" disabled >
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit"
							ng-click="saveFollowUpForm.$valid &&  saveFollowUpDetails(UserFollowUp)"
							class="btn btn-success">Add Follow UP Details</button>
							
							
					</div>
				</div>
			</form>


		</div>
		<a	ng-click="fetchUserFollowUps(user.userId)">Fetch Follow UP Details </a>
		<div class="panel panel-default">
			<div class="panel-body">
				<div ng-repeat="followup in userFollowUps">

					<div class="span8">
						<h3>Summary : {{followup.followUpSummary}}</h3>
						<h6>Description : {{followup.description}}</h6>
						<h6>FollowUp On: {{followup.followUpOn | date}}</h6>
						<div ng-repeat="docs in followup.patientDocs">
						<!-- <img src="file:///{{docs.value}}" class="img-circle"
				height="150"> -->
							<a   ng-click="openImage(docs.value)" download="file://{{docs.value}}">{{docs.key}}</a><br>
							Note -: As of now this is local resource , so wont be loaded.
							This location can be directly open in explorer for sake of testing   
							{{docs.value}}
						</div>
						<!-- <a href="#" ng-click="window.open('file:///{{docs.value}}')">CLICK ME</a> -->
					</div>

					<div>
					                    <div ng-controller = "fileUploadController">
					
						 <input type="file" file-model="myFile" />
						<button ng-click="uploadFile(followup.id)">Upload me</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>